.btn-block {
  width: 100%;
  padding: 0px;
}

h1, h2, h3, h4, h5 {
  margin: 5px;
}

.col {
  padding: 0px !important;
}

.row {
  padding: 0px !important;
  margin: 0px !important;
}

ul {
  margin: 0px;
}

.modal {
  width: 40%;
  margin-top: 200px;
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}
