body {
  margin: 0px;
}

.gbutton-warning {
  background-color: #ff8000 !important;
  border-color: #ff8000 !important;
}

.gbutton-danger {
  background-color: #ff471a !important;
  border-color: #ff471a !important;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
  box-shadow: 0px 3px 1px #888888;
  border-radius: 0px;
  background-color: #0000cc;
  border-color: #0000cc;
}

.ui-button-text {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ui-toolbar {
  box-shadow: 0px 3px 1px #888888;
  border-radius: 0px;
  margin-bottom: 50px;
  padding: 20px;
  background: #0000cc;
  background-color: #0000cc;
  border-color: #0000cc;
  color: #ffffff;
}

.ui-toolbar  a {
  color: #ffffff;
}

.ui-widget-content {
  border: 0px;
}

