body {
  background-image: url('/app/assets/img/background.jpg');
  background-size: cover;
}

.gbutton-warning {
  background-color: #ff8000 !important;
  border-color: #ff8000 !important;
}

.gbutton-danger {
  background-color: #ff471a !important;
  border-color: #ff471a !important;
}
