<div class="row text-center">
  <form class="col-md-4 col-md-offset-4 form-group" [formGroup]="instanceForm">

    <div *ngIf="appliances">
      <label for="appliance">{{ 'APPLIANCE' | translate }}</label>
      <select class="form-control" formControlName="appliance">
        <option *ngFor="let appliance of appliances" [ngValue]="appliance.id">{{appliance.name}}</option>
      </select>
    </div>

    <div *ngIf="sites">
      <label for="site">{{ 'SITE' | translate }}</label>
      <select class="form-control" formControlName="site">
        <option *ngFor="let site of sites" [ngValue]="site.id">{{site.name}}</option>
      </select>
    </div>

    <div *ngIf="flavours">
      <label for="flavours">{{ 'FLAVOUR' | translate }}</label>
      <select class="form-control" formControlName="flavour">
        <option *ngFor="let flavour of flavours" [ngValue]="flavour.id">{{flavour.name}}</option>
      </select>
    </div>

    <div>
      <label for="instance-name">{{ 'INSTANCE-NAME' | translate }}</label>
      <input type="text" class="form-control" formControlName="name">
    </div>

    <div>
      <label for="public-ssh-key">{{ 'PUBLIC-SSH-KEY' | translate }}</label>
      <textarea rows="4" cols="50" class="form-control" formControlName="key"></textarea>
    </div>

    <div>
      <button class="btn btn-warning" (click)="goBack()">{{ 'BACK' | translate }}</button>
      <button type="submit" class="btn btn-primary" [disabled]="!instanceForm.valid" (click)="doSubmit()">{{ 'SUBMIT' | translate }}</button>
    </div>

  </form>
</div>
