<div class="row text-center">
  <div class="col-md-4 col-md-offset-4">

    <div *ngIf="sites" class="form-group">
      <label for="site">Sites</label>
      <select class="form-control"
        id="site"
        required
        [(ngModel)]="selectedSite"
        (ngModelChange)="onSiteChange($event)">
        <option *ngFor="let site of sites" [ngValue]="site">{{site.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="instance-name">Instance name</label>
      <input type="text" class="form-control" id="instance-name" [(ngModel)]="selectedName">
    </div>

    <div class="form-group">
      <label for="public-ssh-key">Public SSH key</label>
      <textarea rows="4" cols="50" class="form-control" id="public-ssh-key" [(ngModel)]="selectedSSHKey"></textarea>
    </div>

    <div *ngIf="appliances" class="form-group">
      <label for="appliance">Appliance</label>
      <select class="form-control" id="appliance" [(ngModel)]="selectedAppliance" required>
        <option *ngFor="let appliance of appliances" [ngValue]="appliance">{{appliance.name}}</option>
      </select>
    </div>

    <div *ngIf="flavours" class="form-group">
      <label for="flavours">Flavours</label>
      <select class="form-control" id="flavours" [(ngModel)]="selectedFlavour" required>
        <option *ngFor="let flavour of flavours" [ngValue]="flavour">{{flavour.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-warning" (click)="goBack()">Back</button>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>

  </div>
</div>
