<div class="container z-depth-1">
  <div class="row" [formGroup]="instanceForm">
    <div class="col m12 s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col m3 s3"><a (click)="setStep(0, $event)" class="active indigo-text">{{ instanceForm.value.appliance ? instanceForm.value.appliance.name : 'APPLIANCES' | translate }}</a></li>
        <li class="tab col m3 s3" [class.disabled]="!instanceForm.value.appliance">
          <a (click)="setStep(1, $event)" class="indigo-text" [class.text-lighten-3]="!instanceForm.value.appliance" [class.disabled]="!instanceForm.value.appliance">{{ instanceForm.value.site ? instanceForm.value.site.name : 'SITES' | translate }}</a>
        </li>
        <li class="tab col m3 s3" [class.disabled]="!instanceForm.value.site">
          <a (click)="setStep(2, $event)" class="indigo-text" [class.text-lighten-3]="!instanceForm.value.site" [class.disabled]="!instanceForm.value.site">{{ instanceForm.value.flavour ? instanceForm.value.flavour.name : 'FLAVOURS' | translate }}</a>
        </li>
        <li class="tab col m3 s3"><a (click)="setStep(3, $event)" class="indigo-text">{{ 'DETAILS' | translate }}</a></li>
        <div class="indicator indigo" style="z-index:1"></div>
      </ul>
    </div>

    <wizard-appliance-tab
      [hidden]="!(step === 0)"
      (onSelect)="instanceForm.controls['appliance'].setValue($event); nextStep();">
    </wizard-appliance-tab>
    <wizard-site-tab
      [appliance]="instanceForm.value.appliance"
      [hidden]="!(step === 1)"
      (onSelect)="instanceForm.controls['site'].setValue($event); nextStep();">
    </wizard-site-tab>
    <wizard-flavour-tab
      [site]="instanceForm.value.site"
      [appliance]="instanceForm.value.appliance"
      [hidden]="!(step === 2)"
      (onSelect)="instanceForm.controls['flavour'].setValue($event); nextStep();">
    </wizard-flavour-tab>

    <div [hidden]="!(step === 3)" class="col m12 s12 row">
      <div class="col m8 s12">
        <div class="row">
          <div class="input-field col m12 s12">
            <input id="name" type="text" class="validate" formControlName="name">
            <label class="active" for="name">{{ 'INSTANCE-NAME' | translate }}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12 s12">
            <textarea #sshKey id="sshKey" class="materialize-textarea" [value]="key" (input)="setKey($event.target.value)"></textarea>
            <label for="sshKey">{{ 'PUBLIC-SSH-KEY' | translate }}</label>
          </div>
          <div *ngIf="credentials && credentials.length > 0" class="collection">
            <a *ngFor="let credential of credentials" (click)="setCredential(credential)"
              [class.text-lighten-3]="sshKey.value"
              [class.disable-list-item]="sshKey.value"
              [class.indigo]="credential == instanceForm.value.credential"
              [class.white-text]="credential == instanceForm.value.credential"
              class="collection-item select-list indigo-text">
              <div class="row">
                <div class="col m6 s12 truncate">{{ credential.value.split(" ")[2] }}</div>
                <div class="col m6 s12 truncate">{{ credential.value }}</div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12 s12">
            <textarea id="userData" class="materialize-textarea" formControlName="userData"></textarea>
            <label for="userData">{{ 'INSTANCE-USER-DATA' | translate }}</label>
          </div>
        </div>
        <div class="row">
          <button [disabled]="!instanceForm.valid" (click)="doSubmit()" class="waves-effect waves-light btn btn-block indigo" style="margin-bottom: 20px;">{{ 'SUBMIT' | translate }}</button>
        </div>
      </div>
      <div class="col m4 s12" style="margin-top: 3.4em">
        <div *ngIf="instanceForm.value.appliance" class="indigo white-text z-depth-1 detail-overview">
          {{ 'APPLIANCE' | translate }}:
          <div class="right">{{instanceForm.value.appliance.name}}</div>
          <div class="divider" style="margin: 0.5em 0"></div>
          <div class="row">
            <div class="col m6 s6">{{ 'VO' | translate }}:</div>
            <div class="col m6 s6 right-align" style="word-break:break-word">{{instanceForm.value.appliance.vo}}</div>
          </div>
        </div>
        <div *ngIf="instanceForm.value.site" class="indigo white-text z-depth-1 detail-overview">
          {{ 'SITE' | translate }}:
          <div class="right">{{instanceForm.value.site.name}}</div>
          <div class="divider" style="margin: 0.5em 0"></div>
          <div class="row">
            <div class="col m4 s6">{{ 'ENDPOINT' | translate }}:</div>
            <div class="col m8 s6 right-align" style="word-break:break-word">{{instanceForm.value.site.endpoint}}</div>
          </div>
        </div>
        <div *ngIf="instanceForm.value.flavour" class="indigo white-text z-depth-1 detail-overview">
          {{ 'FLAVOUR' | translate }}:
          <div class="right">{{instanceForm.value.flavour.name}}</div>
          <div class="divider" style="margin: 0.5em 0"></div>
          <div class="row detail-overview">
            {{ 'CPU' | translate }}:
            <div class="right">{{instanceForm.value.flavour.cpu}}</div>
          </div>
          <div class="row detail-overview">
            {{ 'VCPU' | translate }}:
            <div class="right">{{instanceForm.value.flavour.vcpu}}</div>
          </div>
          <div class="row detail-overview">
            {{ 'MEMORY' | translate }}:
            <div class="right">{{instanceForm.value.flavour.memory | memory}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
