<div class="container z-depth-1">
  <div class="row" [formGroup]="instanceForm">
    <div class="col m12 s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col m3 s3"><a (click)="setStep(0, $event)" class="active indigo-text">{{ instanceForm.value.appliance ? instanceForm.value.appliance.name : 'APPLIANCES' | translate }}</a></li>
        <li class="tab col m3 s3" [class.disabled]="!instanceForm.value.appliance">
          <a (click)="setStep(1, $event)" class="indigo-text" [class.text-lighten-3]="!instanceForm.value.appliance" [class.disabled]="!instanceForm.value.appliance">{{ instanceForm.value.site ? instanceForm.value.site.name : 'SITES' | translate }}</a>
        </li>
        <li class="tab col m3 s3" [class.disabled]="!instanceForm.value.site">
          <a (click)="setStep(2, $event)" class="indigo-text" [class.text-lighten-3]="!instanceForm.value.site" [class.disabled]="!instanceForm.value.site">{{ instanceForm.value.flavour ? instanceForm.value.flavour.name : 'FLAVOURS' | translate }}</a>
        </li>
        <li class="tab col m3 s3"><a (click)="setStep(3, $event)" class="indigo-text">{{ 'DETAILS' | translate }}</a></li>
        <div class="indicator indigo" style="z-index:1"></div>
      </ul>
    </div>

    <div [hidden]="!(step === 0)" class="col m12 s12">
      <div class="collection">
        <a *ngFor="let appliance of appliances" (click)="instanceForm.controls['appliance'].setValue(appliance); nextStep();"
          [class.active]="instanceForm.controls['appliance'].value === appliance"
          [class.indigo]="instanceForm.controls['appliance'].value === appliance"
          [class.white-text]="instanceForm.controls['appliance'].value === appliance"
          class="collection-item select-list indigo-text center">{{ appliance.name }}</a>
      </div>
    </div>
    <div [hidden]="!(step === 1)" class="col m12 s12">
      <div class="collection">
        <a *ngFor="let site of sites" (click)="instanceForm.controls['site'].setValue(site); nextStep();"
          [class.active]="instanceForm.controls['site'].value === site"
          [class.indigo]="instanceForm.controls['site'].value === site"
          [class.white-text]="instanceForm.controls['site'].value === site"
          class="collection-item select-list indigo-text center">{{ site.name }}</a>
      </div>
    </div>
    <div [hidden]="!(step === 2)" class="col m12 s12">
      <div class="collection">
        <a class="collection-item indigo-text">
          <div class="row">
            <div class="col m3 s3">
              <b>{{ 'NAME' | translate }}</b>
            </div>
            <div class="col m3 s3">
              <b>{{ 'CPU' | translate }}</b>
            </div>
            <div class="col m3 s3">
              <b>{{ 'VCPU' | translate }}</b>
            </div>
            <div class="col m3 s3">
              <b>{{ 'MEMORY' | translate }}</b>
            </div>
          </div>
        </a>
        <a *ngFor="let flavour of flavours" (click)="instanceForm.controls['flavour'].setValue(flavour); nextStep();"
          [class.active]="instanceForm.controls['flavour'].value === flavour"
          [class.indigo]="instanceForm.controls['flavour'].value === flavour"
          [class.white-text]="instanceForm.controls['flavour'].value === flavour"
          class="collection-item select-list indigo-text">
          <div class="row">
            <div class="col m3 s3">
              {{ flavour.name }}
            </div>
            <div class="col m3 s3">
              {{ flavour.cpu }}
            </div>
            <div class="col m3 s3">
              {{ flavour.vcpu }}
            </div>
            <div class="col m3 s3">
              {{ flavour.memory | memory }}
            </div>
          </div>
          </a>
      </div>
    </div>
    <div [hidden]="!(step === 3)" class="col m10 s10 offset-s1 offset-m1">
      <div class="row">
        <div class="input-field col m12 s12">
          <input id="name" type="text" class="validate" formControlName="name">
          <label class="active" for="name">{{ 'INSTANCE-NAME' | translate }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12 s12">
          <textarea #sshKey id="sshKey" class="materialize-textarea" formControlName="key"></textarea>
          <label for="sshKey">{{ 'PUBLIC-SSH-KEY' | translate }}</label>
        </div>
        <div *ngIf="credentials && credentials.length > 0" class="collection">
          <a [class.text-lighten-3]="sshKey.value" [class.disable-list-item]="sshKey.value" *ngFor="let credential of credentials" class="collection-item select-list indigo-text">
            <div class="row">
              <div class="col m2 s2"><b>{{ credential.type }}</b></div>
              <div class="col m10 s10">{{ credential.value }}</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12 s12">
          <textarea id="userData" class="materialize-textarea" formControlName="userData"></textarea>
          <label for="userData">{{ 'INSTANCE-USER-DATA' | translate }}</label>
        </div>
      </div>
      <div class="row">
        <button [disabled]="!instanceForm.valid" (click)="doSubmit()" class="waves-effect waves-light btn btn-block indigo" style="margin-bottom: 20px;">{{ 'SUBMIT' | translate }}</button>
      </div>
    </div>
  </div>
</div>
