<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-grid-col-3"></div>
    <div class="ui-grid-col-6">
      <a pButton type="button" label="{{ 'INSTANCE-CREATE' | translate }}" routerLink="/sites/instances/create"></a>
      <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let site of sites" header="{{site.name}}">
            <site-detail [site]="site"></site-detail>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
