<div *ngIf="instance">
  <div class="ui-g">
    <div class="ui-g-10">
      <h3>{{instance.name}}</h3>
      <div class="ui-g">
        <div class="ui-g-6" *ngIf="appliance">
          <p>{{appliance.name}}</p>
        </div>
        <div class="ui-g-6" *ngIf="flavour">
          <p>{{flavour.name}}</p>
        </div>
      </div>
    </div>
    <div class="ui-g-2">
      <button class="gbutton-danger" pButton label="{{ 'INSTANCE-DELETE' | translate }}" type="button" (click)="doDelete()"></button>
    </div>
  </div>
</div>
