<div class="container z-depth-1">
  <div class="row">
    <div class="col s3 center-align">
      <div *ngIf="selectedAppliance" class="chip">
        {{selectedAppliance.name}}
      </div>
    </div>
    <div class="col s3 center-align">
      <div *ngIf="selectedSite" class="chip">
        {{selectedSite.name}}
      </div>
    </div>
    <div class="col s3 center-align">
      <div *ngIf="selectedFlavour" class="chip">
        {{selectedFlavour.name}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s3"><a href="#appliance" class="active indigo-text">Appliance</a></li>
        <li class="tab col s3" [class.disabled]="!selectedAppliance"><a href="#site" class="indigo-text" [class.text-lighten-3]="!selectedAppliance">Sites</a></li>
        <li class="tab col s3" [class.disabled]="!selectedSite"><a href="#flavour" class="indigo-text" [class.text-lighten-3]="!selectedSite">Flavour</a></li>
        <li class="tab col s3"><a href="#details" class="indigo-text">Details</a></li>
        <div class="indicator indigo" style="z-index:1"></div>
      </ul>
    </div>
    <div id="appliance" class="col s12">
      <ul class="collection">
        <li *ngFor="let appliance of appliances" (click)="onApplianceSelect(appliance)" [class.active]="selectedAppliance === appliance" class="collection-item select-list">{{ appliance.name }}</li>
      </ul>
    </div>
    <div id="site" class="col s12">
      <ul class="collection">
        <li *ngFor="let site of sites" (click)="onSiteSelect(site)" [class.active]="selectedSite === site" class="collection-item select-list">{{ site.name }}</li>
      </ul>
    </div>
    <div id="flavour" class="col s12">
      <ul class="collection">
        <li *ngFor="let flavour of flavours" (click)="onFlavourSelect(flavour)" [class.active]="selectedFlavour === flavour" class="collection-item select-list">{{ flavour.name }}</li>
      </ul>
    </div>
    <div id="details" class="col s10 offset-s1">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label class="active" for="name">{{ 'INSTANCE-NAME' | translate }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="sshKey" class="materialize-textarea"></textarea>
          <label for="sshKey">{{ 'PUBLIC-SSH-KEY' | translate }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="userData" class="materialize-textarea"></textarea>
          <label for="userData">{{ 'INSTANCE-USER-DATA' | translate }}</label>
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn btn-block indigo" style="margin-bottom: 20px;">{{ 'SUBMIT' | translate }}</button>
      </div>
    </div>
  </div>
</div>
