<div class="ui-g">
  <div class="ui-g-12 ui-md-3 ui-lg-4"></div>
  <form class="ui-g-12 ui-md-6 ui-lg-4 instance-form-container" [formGroup]="instanceForm">

    <div *ngIf="appliances">
      <label for="appliance">{{ 'APPLIANCE' | translate }}</label>
      <p-selectButton [options]="appliances" formControlName="appliance"></p-selectButton>
    </div>

    <div *ngIf="sites">
      <label for="site">{{ 'SITE' | translate }}</label>
      <p-listbox [options]="sites" formControlName="site" [style]="{ 'width': '100%' }"></p-listbox>
    </div>

    <div *ngIf="flavours">
      <label for="flavours">{{ 'FLAVOUR' | translate }}</label>
      <div class="ui-g flavour-listbox-head">
        <div class="ui-g-4"><span>{{ 'FLAVOUR-NAME' | translate }}</span></div>
        <div class="ui-g-4"><span>{{ 'FLAVOUR-CPU' | translate }}</span></div>
        <div class="ui-g-4"><span>{{ 'FLAVOUR-MEMORY' | translate }}</span></div>
      </div>
      <p-listbox [options]="flavours" formControlName="flavour" [style]="{ 'width': '100%' }">
        <template let-flavour>
          <div class="ui-helper-clearfix ui-g">
            <div class="ui-g-4"><span>{{flavour.label}}</span></div>
            <div class="ui-g-4"><span>{{flavour.instance.cpu}}</span></div>
            <div class="ui-g-4"><span>{{flavour.instance.memory}}</span></div>
          </div>
        </template>
      </p-listbox>
    </div>

    <div>
      <label for="instance-name">{{ 'INSTANCE-NAME' | translate }}</label>
      <input type="text" pInputText formControlName="name">
    </div>

    <div>
      <label for="public-ssh-key">{{ 'PUBLIC-SSH-KEY' | translate }}</label>
      <textarea rows="5" pInputTextarea autoResize="autoResize" formControlName="key"></textarea>
    </div>

    <div>
      <button pButton class="gbutton-warning" label="{{ 'BACK' | translate }}" (click)="goBack()"></button>
      <button pButton label="{{ 'SUBMIT' | translate }}" type="submit" [disabled]="!instanceForm.valid" (click)="doSubmit()"></button>
    </div>

  </form>
</div>
